*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures

# creator kscript files
kscript/buildSrc/build
kscript/build
kscript/out
kscript/buildSrc/.gradle
docker/installer/creator/
kscript/.idea/
kscript/kscript/
