*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures

# creator kscript files
baganGenerator/buildSrc/build
baganGenerator/build
baganGenerator/out
baganGenerator/tmp
tmp/
baganGenerator/buildSrc/.gradle
docker/installer/creator/
baganGenerator/.idea/
